/*:root seleciona o elemento raiz do documento: <html> no caso do HTML. 
Podemos usar o :root para declarar variáveis CSS globais. */
:root {
    --branco-principal: #FFFFFF ;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo); /* cor de fundo. */
    color: var(--branco-principal); /* Define a cor do texto de um elemento. */
}

* { /* É um seletor utilizado para estilizar todos os elementos do HTML. */
    margin: 0;
    padding: 0;
}

/* Definimos margin e padding 0 para todos os elementos do HTML. */ 

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* 
    Para selecionarmos uma class no CSS usamos o ponto seguido do nome da classe (.nome_da_classe {}. Como queremos inserir uma imagem de fundo, usamos o seletor de classe da seção principal e chamamos o atributo background-image. Para iserirmos o diretório da imagem, usamos url(). 
*/

.container {
    height: 100vh; /* A unidade vh significa viewport e se refere a altura. Isso significa que vai ser utilizado o tamanho total do viewport (tamanho do nosso dispositivo), ou seja, uma altura de 100bh corresponde a 100% da página total, do nosso corpo do documento (body) */
}

.container__botao {
    background-color: var(--botao-azul); /* cor de fundo do botão */
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}