/*:root seleciona o elemento raiz do documento: <html> no caso do HTML. 
Podemos usar o :root para declarar variáveis CSS globais. */
:root {
    --branco-principal: #FFFFFF ;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo); /* cor de fundo. */
    color: var(--branco-principal); /* Define a cor do texto de um elemento. */
}

* { /* É um seletor utilizado para estilizar todos os elementos do HTML. */
    margin: 0;
    padding: 0;
}